.header{
    padding: 10px 0;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.278);
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-logo{
    margin-right: 22px;
}
.header-logo img{
    width: 240px;
    display: block;
}

.header-list{
    display: flex;
    gap: 20px;
}


.header-item > a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-color-primary);
}

.header-item > a:hover{
    color: var(--color-primary);
}


.header-mxh-item{
    display: inline-block;
    padding: 10px 10px;
    color: var(--text-color-primary);
}



.header-cate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cate-list{
    display: flex;
}


.header-cate-item > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(165, 165, 165);
}

.header-cate-item > a:hover{
    color: var(--color-primary);
}
.header-search{
    position: relative;
}
.header-search-btn{
    border: none;
    outline: none;
    background-color: transparent;
}

.header-search-btn:hover{
    color: var(--color-primary);
}

.header-search-wrapper{
    position: absolute;
    right: 0;
    top: 100%;
    padding: 15px 25px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.275);
    z-index: 1000;
    background-color: white;
}

.header-search-top{
    display: flex;
    max-height: 35px;
}

.header-search-top > input {
    flex: 0 0 70%;
    max-width: 70%;
    border: #ccc solid 1px;
    outline: none;
    padding-left: 10px;
}

.header-search-top > button {
    font-size: 11px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
}

.header-search-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-search-content{
    color: var(--text-color-primary);
    text-decoration: none;
    display: flex;
    height: 50px;
}

.header-search-content>span{
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.header-search-content:hover {
    color: var(--color-primary);
}

.header-search-content> img{
    object-fit: cover;
    max-width: 30%;
    flex: 0 0 30%;
    margin-right: 20px;
}

/* mobile */

.header-search-btn-top{
    display: none;
}
.header-menu-mobile{
    display: none;
}

.header-search-btn-top>i, .header-menu-mobile>i {
    font-size: 30px;
}

.menu-mobile{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #30404bdc;
}

.menu-mobile-list{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.menu-mobile-item {

}

.menu-mobile-item > a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: block;
    padding: 10px 0;
}

.menu-mobile-close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: white;
}

.menu-account{
    position: absolute;
    padding: 10px 0;
    top: 90%;
    right: 0;
    width: 200px;
    background-color: #eee;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform .2s linear;
}

.menu-account-item>a, .menu-account-btn{
    display: block;
    color: var(--text-color-primary);
    padding: 5px 20px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.menu-account-item>a:hover {
    color: var(--color-primary);
}

.header-mxh-item.position-relative:hover .menu-account{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 1000px) {
    .header-mxh{
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .header{
        background-color: black;
    }

    .header-nav{
        display: none;
    }

    .header-list{
        display: none;
    }

    .header-search-btn-top{
        display: block;
        position: relative;
        top: -5px;
    }

    .header-menu-mobile{
        display: block;
    }

    .header-search-btn-top>i, .header-menu-mobile>i {
        color: white;
    }

    .header-logo{
        margin-right: auto;
    }

    .header-logo>img{
        width: 75%;
        height: auto;
        margin: auto;
        display: block;
    }
}